body{
    box-sizing: border-box;
    width: 550px;
    height: 779px;
    margin: 0 auto;
}
header{
    background-image: url("images/bg1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 208px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1, header a{
    color: white;
    z-index: 1;
}
header h1{
    padding-left: 10%;
}
header a{
    padding-right: 10%;
    text-decoration: none;
}
.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    /* z-index: 2; */
    height: 208px;
    width: 100%;
    top: 0;
    left: 0;
}
form{
    width: 462px;
    border: 1.5px solid #ced4da;
    border-radius: 6px;
    position: absolute;
    top: -130px;
    left: 45px;
    
}
.search-bar{
    position: relative;
    display: flex;
}
.search{
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
    padding-left: 2.5em;
    color: #6c757d;
    width: 70%;
}
.search-icon{
    width: 20px;
    position: absolute;
    left: 10px;
    top: 7px;
    opacity: 50%;
}
.search-btn{
    width: 30%;
    font-size: 1rem;
    padding: 9px 11px;
    color: #6c757d;
    background-color: #e9ecef;
    border: none;
    border-left: 1.5px solid #ced4da;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.onboarding-img{
    width: 100px;
    opacity: 25%;
}
.welcome, .watchlist-welcome{ 
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    position: relative;
}
.movie-card{
    display: flex;
    border-bottom: 1px solid #6c757d;
    margin-bottom: 10px;
}
.poster img{
    width: 99px;
    height: 147.5px;
}
.movie-info{
    padding-left: 20px;
    padding-top: 0;
    width: 342px;
}
.header{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.title{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.genre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 0;
}
p, h2{
    margin: 5px 0;
}
.description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #6B7280;
}
.fa-star{
    color: gold;
}
.movie-not-found img{
    width: 100%;
}
.remove-btn{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}